title:            Levi Botelho's Coding Blog
description:      C#, web development and other interesting stuff.
logo:             logo.png
disqus_shortname: levibotelho
# Assign a default image for your site's header and footer
default_bg:       background.jpg
search:           true
share:            true
# Read Time is a calculator tp provide post read-time based on word count. Usage is recommended.
readtime:         true
# Turn on or off the fin animations in the header and footer
animated_fins:    true
# Specify the fin color in RGB value
fin_color:        "255,255,255"
# Change url to your domain. Leave localhost server or blank when working locally.
url:              http://levibotelho.github.io
#url:             "http://localhost:4000"

# Owner/author information
owner:
  name:           Levi Botelho
  avatar:         me.jpg
  email:          levi_botelho@hotmail.com
  # Use the coder's toolbox at http://coderstoolbox.net/string/#!encoding=xml&action=encode&charset=us_ascii to encode your description into XML string
  description:    Web developer, C# enthusiast, and technology addict...
  twitter: LeviBotelho
  github: LeviBotelho
  linkedin: https://www.linkedin.com/pub/levi-botelho/64/aa1/889
  stackexchange: http://stackoverflow.com/users/1068266/levi-botelho
  # For Google Authorship https://plus.google.com/authorship
  google_plus: http://plus.google.com/114943939762387174074
  

# Analytics and webmaster tools stuff goes here
google_analytics:
google_verify:
# https://ssl.bing.com/webmaster/configure/verify/ownership Option 2 content= goes here
bing_verify:

# Links to include in top navigation
# For external links add external: true
links:
  - title: Home
    url: /
    external: false
    icon: home

# http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
timezone:    Europe/Paris
future:      true
pygments:    true
markdown:    kramdown
paginate:    6
paginate_path: "page:num"

# https://github.com/mojombo/jekyll/wiki/Permalinks
permalink:   /:categories/:title

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  use_coderay: false

  coderay:
    coderay_line_numbers: 
    coderay_line_numbers_start: 1
    coderay_tab_width: 4
    coderay_bold_every: 10
    coderay_css: class

gems:
  - jekyll-redirect-from